.Lottery-balls{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}
.Container{
    border: 2px solid purple;
    width: 50%;
    text-align: center;
    padding: 10px;
    margin: auto;
    margin-top: 3rem;
}